/* 側邊欄 */

.sidebar {
    top: 0;
    left: 0;
    height: 100%;
    width: 20%; 
    overflow-y: auto; 
    background-color: #1E1E24; 
    padding: 20px; /* 增加內邊距 */
    border-radius: 10px; /* 圓角 */
}

.main-content {
    top: 0;
    left: 0;
    height: 100%;
    width: 60%; 
    overflow-y: auto; 
    background-color: #1E1E24; 
    padding: 20px; /* 增加內邊距 */
    border-radius: 10px; /* 圓角 */
}

.sidebar h2 {
    color: #F6E7CB;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none; 
    border-radius: 10px; 
    background-color: #F6E7CB;
}

/* li 清單的子元素 */
.sidebar ul li {
    border-bottom: 5px solid #1E1E24;
    font-weight: bold;
    padding: 10px;
    color: black;
}

/* 為了要解決上一個li 會多一個黑色的間隔在底部 */
.sidebar ul li:last-child {
    border-bottom: none;
}

#div1{
    float: left;
}

#div2 {
    float: right;
}

/* 样式化链接 */
.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

/* 鼠标悬停时高亮链接 */
.sidebar ul li a:hover {
    background-color: #ddd;
}



.main-content {
float: right;
width: 70%;
}


#scan-details {
width: 70%;
}

