<div class="rendered-form">
    <div class="formbuilder-text form-group field-text-1695269603594">
        <label for="text-1695269603594" class="formbuilder-text-label">任務名稱<span class="formbuilder-required">*</span></label>
        <input type="text" class="form-control" name="text-1695269603594" access="false" id="text-1695269603594" required="required" aria-required="true">
    </div>
    <div class="formbuilder-select form-group field-select-1695269701972">
        <label for="select-1695269701972" class="formbuilder-select-label">合約類別<span class="formbuilder-required">*</span></label>
        <select class="form-control" name="select-1695269701972" id="select-1695269701972" required="required" aria-required="true">
            <option value="0" selected="true" id="select-1695269701972-0">EOSIO</option>
            <option value="1" id="select-1695269701972-1">Ethereum</option>
        </select>
    </div>
    <div class="formbuilder-file form-group field-file-1695269902523">
        <label for="file-1695269902523" class="formbuilder-file-label">合約上傳<span class="formbuilder-required">*</span></label>
        <input type="file" class="form-control" name="file-1695269902523" access="false" multiple="false" id="file-1695269902523" required="required" aria-required="true">
    </div>
    <div class="formbuilder-button form-group field-button-1695270022557">
        <button type="button" class="btn-default btn" name="button-1695270022557" access="false" style="default" id="button-1695270022557">建立任務</button>
    </div>
</div>